.headdiv {
  justify-content: center;
  display: grid;
}

.heading {
  position: relative;
  padding: 1rem 4rem;
  margin: 2rem auto;
  font-size: x-large;
  font-family: "Mozilla Headline", sans-serif;
  color: white;
  background-color: black;
  border-radius: 1rem;
}
.passwritemain {
  margin: auto;
  width: 50%;
  height: 40vh;
  border-radius: 1.5rem;
  background-color: #a5386059;
  box-shadow: 5px 5px 15px black;
}


.divinputemail {
  padding: 2rem 0.5rem;
  margin: auto;
  width: 82%;
  font-size: 1.7rem;
  letter-spacing: 1.6px;
  word-spacing: 5px;
  font-family: "Mozilla Headline", sans-serif;
  font-weight: 800;
}

.inputemail {
  font-family: "poppins", sans-serif;
  color: white;
  background-color: black;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.5rem;
  padding: 0.5rem;
  letter-spacing: 1.8px;
}

.usepass {
  font-size: 1.7rem;
  letter-spacing: 1.6px;
  word-spacing: 5px;
  font-family: "Mozilla Headline", sans-serif;
  font-weight: 800;
  padding: 1rem 2rem;
  justify-content: space-between;
  display: flex;
}

.inputpass {
  font-family: "poppins", sans-serif;
  color: white;
  background-color: black;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
}

.butdiv {
  display: grid;
  justify-content: center;
}
.passwritemain button {
  font-family: "Mozilla Headline", sans-serif;
  border: none;
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: x-large;
  font-weight: 800;
  color: white;
  background-color: #b33791;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 15px black;
  transition-duration: 0.4s;
  cursor: pointer;
}

.passwritemain button:active {
  padding: 1.5rem 2.5rem;
}

@media (max-width: 786px) {
  .passwritemain {
    width: 100%;
    height: auto;
    padding: 1rem;
  }
  .heading {
    font-size: 1.5rem;
    padding: 0.8rem 2rem;
  }
  .usepass {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .inputemail
  {
    width: 70%;
  }
}

/* Mobiles */
@media (max-width: 480px) {
  .passwritemain {
    width: 100%;
    padding: 1rem;
    height: auto;
  }
  .heading {
    font-size: 1.2rem;
    padding: 0.6rem 1.5rem;
    text-align: center;
  }
  .divinputemail,
  .usepass {
    font-size: 1.2rem;
    padding: 1rem;
  }
  .inputemail {
    width: 60%;
    font-size: 1rem;
    padding: 0.4rem;
  }
  .inputpass {
    font-size: 1rem;
    padding: 0.4rem;
  }
  .passwritemain button {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
  }
}
